.navbar {
   
    color: white;
    position: fixed;
    z-index: 3;
}
.navbar .logo {
    align-items: center;
    font-weight: 550;
}
.navbar .menu {
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
}

.navbar .menu button {
    border: none;
    font-size: 1rem;
    align-items: center;
    font-weight: 500;
}
#statusMenuOn {
animation: menuOn 1s linear alternate;
}
@keyframes menuOn {
    0% {
       background-color: rgba(000, 000, 000, 10%);
    }
    
    50% {
        background-color: rgba(000, 000, 000, 50%);
    }

    100% {
         background-color: rgba(000, 000, 000, 100%);
    }
}
#statusMenuOff {
    animation: menuOff 1s linear alternate;
}

@keyframes menuOff {
    0% {
        background-color: rgba(000, 000, 000, 100%);
    }

    50% {
        background-color: rgba(000, 000, 000, 50%);
    }

    100% {
        background:none;
    }
}
.header {
    
        color: white;
      background: url('../assets/image/Frame_1.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.header-group ,.header-derktop{
    position:absolute ;
    bottom: 0;
    right: 0;
  
}

.header div button ,.footer div button{
    border:  none;
    background-color: white;
    font-weight: 500;
}
.header div button:hover,
.footer div button:hover,
.navbar .menu button:hover {
    background-color: rgba(255, 255, 255, 75%);
}
.dares {
    background: linear-gradient(to left bottom,rgb(254 1 130),rgb(255 94 176));
   -webkit-background-clip: text;
    color: transparent;
}
.contact p {
    font-weight: 600;
}
.menuFooter:hover {
    color: #ffffff;
}
